* { margin: 0; padding: 0; }

.header { margin: 0 auto; width: 995px; height: 126px; background: #ffffff; border: 1px solid yellow; color: #6BC4E2; }
.header .img2, .header ul { float: left; }
.header .img2 { padding-top: 19px; }
.header ul { margin: 0 auto; height: 126px; }
.header ul > li { float: left; list-style: none; width: 168px; height: 46px; margin-top: 32px; line-height: 46px; text-align: center; border-right: 1px solid #6BC4E2; }
.header ul > li > a { text-decoration: none; color: #6bc4e2; }
.header .rig { float: right; width: 265px; height: 126px; }
.header .rig #er, .header .rig .zc { height: 18px; float: right; margin-left: 20px; margin-top: 21px; }
.header .rig #er a { text-decoration: none; color: #6BC4E2; }
.header .rig .zc a { text-decoration: none; color: #6BC4E2; }
.header .rig #bt { width: 130px; height: 48px; margin-right: 46px; padding-top: 51px; }
.header .rig #bt input { width: 130px; height: 25px; }
.header .rig #bt P { width: 130px; height: 15px; font-size: 15px; margin-bottom: 9px; }
.header .rig #bt P .img1 { width: 22px; height: 15px; }
